<div class="active-ordr-container">
    <h2>Give an order!</h2>
    <div class="orders">
        {{#each orderedPlates as |Plate|}}
        <div>
            <p>
                {{Plate}}
            </p>
        </div>
        {{/each}}
    </div>
</div>