<div class="row">
  <div class="col-12">
     <!--from home-routes.js-->
    <section>
      <h1>Contact Us</h1>
      <h3>To be a recepient or a giver (and earn tax deductions for your contributions), please fill out the following:</h3>
        
    <form class="form" id="login-form">
    <h6 class="user-error" id="user-error">Please enter your</h6>
      <div class="form-group">
        <label>First Name: </label>
        <input class="form-input" type="text" id="first-name">
        <label>Last Name: </label>
        <input class="form-input" type="text" id="last-name">
        <label>Address (please include city, state and zipcode): </label>
        <input class="form-input" type="text" id="address">
        <label>Phone Number: </label>
        <input class="form-input" type="text" id="phone-number">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        
        <input type="checkbox" name="checkbox" value="1">
        Please check if you are a recepient. 
        {{#if checkbox}} {{bindAttr checkbox checked="isSelected"}}{{/if}} 
        </input>
        <button class="btn btn-primary" type="submit">Create Profile</button>
      </div>
    </form>    
    </section>
  </div>
</div>